<a href="https://colab.research.google.com/github/HughYau/Research-with-Python/blob/main/Group%20USA%20States%20with%20GDP/Groupby_State_BFS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from collections import deque

In [ ]:
sa_T = pd.read_excel(r"D:\Application\WeChat\Documents\WeChat Files\wxid_852lwrk6lh2812\FileStorage\File\2022-01\state adjacency.xlsx")
sa_T = sa_T.drop(columns = ['AK','HI','DC'])
state_income = pd.read_excel(r"D:\Application\WeChat\Documents\WeChat Files\wxid_852lwrk6lh2812\FileStorage\File\2022-01\state personal income.xlsx")

In [ ]:
GDP = dict(zip(state_income['state_abbr'],state_income['LP1_tot_pinc']))
GDP.pop('AK')
GDP.pop('HI')
avg = sum(GDP.values())/10

In [ ]:
GRAPH = {
        
        
    
        "AL": ["FL", "GA", "TN", "MS"] ,
        "AR":  [ "LA", "MS", "TN", "MO", "OK", "TX"] ,
        "CA":  [ "AZ", "NV", "OR"] ,
        
        
        "DE":  [ "NJ", "PA", "MD"] ,
        "FL":  [ "GA", "AL"] ,
        "GA":  [ "SC", "NC", "TN", "AL", "FL"] ,
        
        "ID":  [ "WA", "OR", "NV", "UT", "WY", "MT"] ,
        "IL":  [ "WI", "IA", "MO", "KY", "IN"] ,
        
        "IA":  [ "MN", "SD", "NE", "MO", "IL", "WI"] ,
        "KS":  [ "OK", "MO", "NE", "CO"] ,
        "KY":  [ "TN", "VA", "WV", "OH", "IN", "IL", "MO"] ,
        "LA":  [ "MS", "AR", "TX"] ,
        
        "MD":  [ "DE", "PA", "WV", "VA" ] ,
        
        
        
        "MS":  [ "AL", "TN", "AR", "LA"] ,
        "MO":  [ "AR", "TN", "KY", "IL", "IA", "NE", "KS", "OK"] ,
        "MT":  [ "ID", "WY", "SD", "ND"] ,
        "NE":  [ "KS", "MO", "IA", "SD", "WY", "CO"] ,
        "NV":  [ "AZ", "UT", "ID", "OR", "CA"] ,
        
        "NJ":  [ "NY", "PA", "DE"] ,
        "NM":  [ "TX", "OK", "CO", "AZ"] ,
        "NY":  [ "PA", "NJ", "CT", "MA", "VT"] ,
        "NC":  [ "VA", "TN", "GA", "SC"] ,
        "ND":  [ "MT", "SD", "MN"] ,
        "OH":  [ "MI", "IN", "KY", "WV", "PA"] ,
        "OK":  [ "TX", "AR", "MO", "KS", "CO", "NM"] ,
        "OR":  [ "CA", "NV", "ID", "WA"] ,
        "PA":  [ "OH", "WV", "MD", "DE", "NJ", "NY"] ,
        "RI":  [ "MA", "CT"] ,
        "SC":  [ "NC", "GA"] ,
        "SD":  [ "NE", "IA", "MN", "ND", "MT", "WY"] ,
        "TN":  [ "AL", "GA", "NC", "VA", "KY", "MO", "AR", "MS"] ,
        "TX":  [ "LA", "AR", "OK", "NM"] ,
        "UT":  [ "AZ", "CO", "WY", "ID", "NV"] ,
        "VT":  [ "NY", "MA", "NH"] ,
        "VA":  [ "MD", "WV", "KY", "TN", "NC"] ,
        "WA":  [ "OR", "ID"] ,
        "WV":  [ "VA", "MD", "PA", "OH", "KY"] ,
        "WI":  [ "MN", "IA", "IL", "MI"] ,
        "WY":  [ "CO", "NE", "SD", "MT", "ID", "UT"] ,
    
        
        "AZ":  [ "NM", "UT", "NV", "CA"] ,
        "CO":  [ "NM", "OK", "KS", "NE", "WY", "UT"] ,
        "CT":  [ "RI", "MA", "NY"] ,
        "IN":  [ "IL", "KY", "OH", "MI"] ,
        "ME":  [ "NH"] ,
        "MA":  [ "NH", "VT", "NY", "CT", "RI"] ,
        "MI":  [ "WI", "IN", "OH"] ,
        "MN":  [ "ND", "SD", "IA", "WI"] ,
        "NH":  [ "VT", "MA", "ME"] ,
    
}
state = list(GRAPH.keys())

In [ ]:
class Queue(object):
    def __init__(self):
        self._deque = deque()

    def push(self, value):
        return self._deque.append(value)

    def pop(self):
        return self._deque.popleft()

    def __len__(self):
        return len(self._deque)


def bfs(graph, start):
    list1 = []
    search_queue = Queue()
    search_queue.push(start)
    searched = set()
    while search_queue:   # 队列不为空就继续
        cur_node = search_queue.pop()
        if cur_node not in searched:
            list1.append(cur_node)
            searched.add(cur_node)
            for node in graph[cur_node]:
                search_queue.push(node)
    return list1

In [ ]:
bfs(GRAPH,'RI')

['RI',
 'MA',
 'CT',
 'NH',
 'VT',
 'NY',
 'ME',
 'PA',
 'NJ',
 'OH',
 'WV',
 'MD',
 'DE',
 'MI',
 'IN',
 'KY',
 'VA',
 'WI',
 'IL',
 'TN',
 'MO',
 'NC',
 'MN',
 'IA',
 'AL',
 'GA',
 'AR',
 'MS',
 'NE',
 'KS',
 'OK',
 'SC',
 'ND',
 'SD',
 'FL',
 'LA',
 'TX',
 'WY',
 'CO',
 'NM',
 'MT',
 'ID',
 'UT',
 'AZ',
 'WA',
 'OR',
 'NV',
 'CA']

In [ ]:
state_added = set()
def GDP_bfs(item):
    if item not in state_added:
        list2 = []
        list1 = bfs(GRAPH,item)
        sum_GDP = 0
        for j in list1:
            if j not in state_added:
                if GDP[j]+sum_GDP < 1.05*avg or j == 'CA' :
                    sum_GDP = GDP[j]+sum_GDP
                    list2.append(j)
                    state_added.add(j)
                else:
                    break
        return list2,sum_GDP

for item in state:
    group = GDP_bfs(item)
    if group != None:
        print(group[0],group[1]/1e11)

['AL', 'FL', 'GA', 'TN', 'MS', 'SC'] 1.0383
['AR', 'LA', 'MO', 'OK', 'TX'] 1.0551
['CA'] 1.18
['DE', 'NJ', 'PA'] 1.0255
['ID', 'WA', 'OR', 'NV', 'UT', 'WY', 'MT', 'AZ', 'CO', 'NE', 'SD', 'ND', 'NM', 'KS', 'IA'] 1.0567
['IL', 'WI', 'KY'] 0.951
['MD', 'WV', 'VA', 'OH'] 1.0624
['NY'] 1.04
['NC', 'IN', 'MI'] 0.909
['RI', 'MA', 'CT', 'NH', 'VT', 'ME', 'MN'] 0.8184

In [ ]:
sum(GDP.values())/(10*1e11)

1.01364

In [ ]:
sa_T

,AL,AR,AZ,CA,CO,CT,DE,FL,GA,IA,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,MS,MO,CA,OR,WY,NY,MD,AL,FL,MN,...,ND,KY,NM,ID,NC,NY,ID,MI,OH,MT
1,TN,TN,NV,NV,NE,MA,PA,GA,AL,WI,...,MN,VA,OK,WY,TN,NH,OR,MN,PA,SD
2,GA,MS,UT,AZ,KS,RI,NJ,NaN,TN,IL,...,IA,NC,AR,CO,KY,MA,NaN,IA,MD,NE
3,FL,LA,CO,NaN,OK,NaN,NaN,NaN,NC,MO,...,NE,GA,LA,NM,WV,NaN,NaN,IL,VA,CO
4,NaN,TX,NM,NaN,NM,NaN,NaN,NaN,SC,NE,...,WY,AL,NaN,AZ,MD,NaN,NaN,NaN,KY,UT
5,NaN,OK,NaN,NaN,AZ,NaN,NaN,NaN,NaN,SD,...,MT,MS,NaN,NV,DC,NaN,NaN,NaN,NaN,ID
6,NaN,NaN,NaN,NaN,UT,NaN,NaN,NaN,NaN,NaN,...,NaN,AR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,MO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
GDP_bfs('OK')

['OK', 'TX', 'AR', 'MO']

dict_values([13100000000, 9470000000, 7010000000, 118000000000, 12000000000, 17900000000, 3150000000, 36500000000, 20200000000, 3220000000, 61200000000, 24200000000, 13000000000, 10800000000, 12800000000, 13900000000, 4320000000, 23400000000, 30800000000, 45200000000, 18300000000, 7630000000, 21900000000, 3160000000, 7070000000, 3070000000, 3670000000, 41800000000, 4320000000, 104000000000, 21500000000, 2750000000, 51900000000, 11300000000, 10500000000, 57600000000, 4840000000, 10300000000, 2750000000, 16100000000, 51400000000, 4780000000, 2010000000, 24100000000, 17100000000, 6840000000, 21100000000, 1680000000])

In [ ]:
avg = sum(GDP.values())/10

In [ ]:
a = [1,2,3]
sum(a)

6

In [ ]:
sa_occu = np.zeros(len(sa_T.columns))

In [ ]:
for it in sa_T.columns:
    group = [it]
    group_gdp = [GDP[it]]
    for item in sa_T[it]:
        if pd.isnull(item) == False:
            temp_sum = sum(group_gdp)+GDP[item]
            if temp_sum < 0.9*avg:
                group.append(item)
            elif temp_sum > 1.1*avg:
                print(group)

MS
TN
GA
FL
MO
TN
MS
LA
TX
OK
CA
NV
UT
CO
NM
OR
NV
AZ
WY
NE
KS
OK
NM
AZ
UT
NY
MA
RI
MD
PA
NJ
AL
GA
FL
AL
TN
NC
SC
MN
WI
IL
MO
NE
SD
MT
WY
UT
NV
OR
WA
IN
KY
MO
IA
WI
MI
OH
KY
IL
NE
MO
OK
CO
IN
OH
WV
VA
TN
MO
IL
TX
AR
MS
RI
CT
NY
NH
VT
VA
WV
PA
DC
DE
NH
WI
IN
OH
WI
IA
SD
ND
IA
IL
KY
TN
AR
OK
KS
NE
LA
AR
TN
AL
ND
SD
WY
ID
VA
TN
GA
SC
MN
SD
MT
SD
IA
MO
KS
CO
WY
VT
ME
MA
DE
PA
NY
AZ
UT
CO
OK
TX
ID
UT
AZ
CA
OR
NJ
PA
VT
MA
CT
PA
WV
KY
IN
MI
KS
MO
AR
TX
NM
CO
CA
NV
ID
WA
NY
NJ
DE
MD
WV
OH
CT
MA
GA
NC
ND
MN
IA
NE
WY
MT
KY
VA
NC
GA
AL
MS
AR
MO
NM
OK
AR
LA
ID
WY
CO
NM
AZ
NV
NC
TN
KY
WV
MD
DC
NY
NH
MA
ID
OR
MI
MN
IA
IL
OH
PA
MD
VA
KY
MT
SD
NE
CO
UT
ID